header {
  background-color: #2F4254;
}

.jumbotron {
  margin: 0;
  background-color: #FFFFFF;
}

.background-first {
  background-color: #FFFFFF;
  color: #000;
  border-top: 8px inset #000000;
  border-top: 8px solid rgba(0, 0, 0, 0.1);
}

.background-second {
  background-color: #FFFFFF;
  color: #000;
  border-top: 8px inset #000000;
  border-top: 8px solid rgba(0, 0, 0, 0.1);
}

#secret {
  background-color: #2F4254;
  padding: 50px 0;
}
