.gz-center {
  margin: 0 auto 0 auto !important;
  text-align: center !important;
  vertical-align: middle !important;
}

html, body {
  height: 100%;
  text-align: center;
}

body {
  overflow-x: hidden;
}

section {
  padding: 80px 0px 80px 0px;
}

a {
  cursor: pointer;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  color: #FFFFFF;
  text-decoration: none;
}

nav.navbar {
  display: none;
  background-color: #26292E;
  color: #FFFFFF;
  height: 78px;
  padding-top: 3px;
  border-bottom: 8px inset #333;
  border-bottom: 8px solid rgba(0, 0, 0, 0.1);
}
nav.navbar .navbar-header .navbar-logo {
  padding: 7px;
  width: 70px;
}
nav.navbar .navbar-header .navbar-brand {
  color: #FFFFFF;
  font-size: 24px;
  padding: 23px 0 0 30px;
}
nav.navbar .navbar-header .navbar-toggle {
  position: absolute;
  width: 48px;
  top: 4px;
  right: 4px;
  bottom: 4px;
  font-size: 18px;
}
nav.navbar .navbar-collapse {
  background-color: #26292E;
  box-shadow: none;
  border-color: transparent;
}
nav.navbar .navbar-collapse .navbar-nav li a {
  background-color: #26292E !important;
  margin-top: 6px;
  font-size: 18px;
}
nav.navbar .navbar-collapse .navbar-nav li a:hover {
  color: white;
}
nav.navbar .navbar-collapse .navbar-nav li.active a {
  color: #DE5E60;
}

#scrolltop {
  display: none;
  background-color: #3C3F45;
  margin: 0;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  z-index: 99;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background 0.1s linear 0s;
  -moz-transition: background 0.1s linear 0s;
  -o-transition: background 0.1s linear 0s;
  transition: background 0.1s linear 0s;
  bottom: 15px;
  right: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#scrolltop i {
  font-size: 16px;
  color: #FFFFFF;
  position: absolute;
  margin: auto;
  width: 50%;
  height: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -7px;
  line-height: 1em;
}

#scrolltop:hover {
  opacity: 1;
  background-color: #DE5E60;
}

.jumbotron img {
  max-height: 450px;
  margin-bottom: 15px;
}

.carousel .carousel-control.left {
  left: 10px;
}
.carousel .carousel-control.right {
  right: 10px;
}
.carousel .carousel-control {
  display: none;
  background: none;
  background-color: rgba(237, 90, 100, 0.4);
  top: 45%;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  border-radius: 50px;
}

.quotes {
  margin-top: 35px;
  background-color: #3D3D3D;
  border-radius: 25px;
  padding: 7px 0;
  color: #FFFFFF;
  height: 180px;
}
.quotes i {
  font-size: 58px;
  color: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;
}

#gallery-nav #filters {
  margin: 0;
  padding: 0;
  list-style: none;
}
#gallery-nav #filters li {
  display: inline-block;
  margin-right: 30px;
}
#gallery-nav #filters li a {
  color: #7F8289;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
}
#gallery-nav #filters li a:hover {
  color: #DE5E60;
}
#gallery-nav #filters li.categories {
  font-size: 24px;
  font-weight: 300;
  line-height: 1em;
  text-transform: uppercase;
}

.isotope .filter-item {
  overflow: hidden;
  margin-top: 30px;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope .filter-item .overlay-wrapper {
  cursor: pointer;
  position: absolute;
  left: 15px;
  right: 15px;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 500ms ease-out 0s;
  -moz-transition: opacity 500ms ease-out 0s;
  -o-transition: opacity 500ms ease-out 0s;
  transition: opacity 500ms ease-out 0s;
}
.isotope .filter-item .overlay-wrapper .overlay {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: #DE5E60;
  opacity: 0.45;
  filter: alpha(opacity=45);
}
.isotope .filter-item .overlay-wrapper i {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 45%;
  font-size: 3em;
  opacity: 1;
  filter: alpha(opacity=100);
}
.isotope .filter-item .overlay-wrapper:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.isotope .filter-item img {
  width: 100%;
}

#footer ul.social-inline {
  display: inline;
  list-style: none;
  padding-left: 0;
}
#footer ul.social-inline li {
  margin: 0 0 8px;
  display: inline-block;
}
#footer ul.social-inline li a {
  color: #3D3D3D;
  width: 80px;
  height: 50px;
  font-size: 30px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#footer ul.social-inline li a:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

#page5 {
  background: url("../images/wp2.jpg") fixed no-repeat;
}

.jumbotron {
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.navbar {
  opacity: 0.9;
}

.gz-center {
  margin: 0 auto 0 auto !important;
  text-align: center !important;
  vertical-align: middle !important;
}

#home-slider {
  position: relative;
  overflow: hidden;
  height: 100%;
}

#home-slider .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #26292E;
  opacity: 0.2;
  filter: alpha(opacity=70);
  z-index: 0;
}

#home-slider .container {
  height: 100%;
}

#home-slider .container .row.caption-row {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 150px;
}

#home-slider #slidecaption {
  float: none;
  text-shadow: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  letter-spacing: -2px;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0;
}

#home-slider .control-nav {
  position: absolute;
  width: 100%;
  background: #2F3238;
  height: 50px;
  bottom: 0;
  z-index: 2;
}

#home-slider #nextslide,
#home-slider #prevslide {
  background-image: none;
  background-color: #26292E;
  display: inline-block;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  float: left;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: background 0.1s linear 0s;
  -moz-transition: background 0.1s linear 0s;
  -o-transition: background 0.1s linear 0s;
  transition: background 0.1s linear 0s;
}

#home-slider #nextslide {
  margin-left: -4px;
}

#home-slider #nextslide:hover,
#home-slider #prevslide:hover,
#home-slider #nextsection:hover {
  background-color: #DE5E60;
}

#home-slider #nextslide i,
#home-slider #prevslide i,
#home-slider #nextsection i {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: #FFFFFF;
  top: 50%;
  margin-top: -7px;
}

#home-slider #nextsection {
  background-color: #26292E;
  margin: 0;
  position: relative;
  float: right;
  width: 50px;
  height: 50px;
  -webkit-transition: background 0.1s linear 0s;
  -moz-transition: background 0.1s linear 0s;
  -o-transition: background 0.1s linear 0s;
  transition: background 0.1s linear 0s;
}

#home-slider ul#slide-list {
  top: 50%;
  padding: 0;
  margin: -6px 0 0 0;
}

#home-slider ul#slide-list li {
  margin-right: 12px;
}

#home-slider ul#slide-list li:last-child {
  margin-right: 0;
}

#home-slider ul#slide-list li a {
  background-color: #6E7074;
  background-image: none;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background 0.1s linear 0s;
  -moz-transition: background 0.1s linear 0s;
  -o-transition: background 0.1s linear 0s;
  transition: background 0.1s linear 0s;
}

#home-slider ul#slide-list li a:hover {
  background-color: #FFFFFF;
}

#home-slider ul#slide-list li.current-slide a,
#home-slider ul#slide-list li.current-slide a:hover {
  background-color: #DE5E60;
}

/* Smaller Screen ----------- */
@media (min-width: 320px) {
  #home-slider #slidecaption {
    font-size: 20px;
  }
}
/* Small Screen ----------- */
@media (min-width: 468px) {
  #home-slider #slidecaption {
    font-size: 30px;
  }
}
/* Medium Screen ----------- */
@media (min-width: 568px) {
  #home-slider #slidecaption {
    font-size: 40px;
  }
}
/* Large Screen ----------- */
@media (min-width: 992px) {
  #home-slider #slidecaption {
    font-size: 50px;
  }
}
/* Larger Screen ----------- */
@media (min-width: 1200px) {
  #home-slider #slidecaption {
    font-size: 60px;
  }
}
/* Smartphones 320px width*/
@media (max-width: 320px) {
  #ipad-inner {
    position: none;
    top: 15%;
    left: 15%;
    right: 15%;
  }
}
/* Smartphones 320px - 480px width*/
@media (min-width: 320px) and (max-width: 480px) {
  #ipad-inner {
    position: none;
    top: 15%;
    left: 15%;
    right: 15%;
  }
}
/* Smartphones 320px - 480px width*/
@media (min-width: 480px) and (max-width: 548px) {
  #ipad-inner {
    position: none;
    top: 15%;
    left: 15%;
    right: 15%;
  }
}
/* Smartphones 548px - 480px width*/
@media (min-width: 548px) and (max-width: 768px) {
  #ipad-inner {
    position: none;
    top: 15%;
    left: 15%;
    right: 15%;
  }
}
/* Tablet 768px - 1024px width*/
@media (min-width: 768px) and (max-width: 1024px) {
  #ipad-inner {
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
  }
}
/* Desktop ----------- */
@media (min-width: 1024px) {
  #ipad-inner {
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
  }
}
/* Large Desktop ----------- */
@media (min-width: 1824px) {
  #ipad-inner {
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
  }
}
header {
  background-color: #2F4254;
}

.jumbotron {
  margin: 0;
  background-color: #FFFFFF;
}

.background-first {
  background-color: #FFFFFF;
  color: #000;
  border-top: 8px inset #000000;
  border-top: 8px solid rgba(0, 0, 0, 0.1);
}

.background-second {
  background-color: #FFFFFF;
  color: #000;
  border-top: 8px inset #000000;
  border-top: 8px solid rgba(0, 0, 0, 0.1);
}

#secret {
  background-color: #2F4254;
  padding: 50px 0;
}

/* Smaller Screen ----------- */
@media (min-width: 320px) {
  .imac-inner {
    position: absolute;
    top: 6%;
    left: 7%;
    right: 7%;
  }
}
/* Small Screen ----------- */
@media (min-width: 468px) {
  .imac-inner {
    position: absolute;
    top: 6%;
    left: 6%;
    right: 6%;
  }
}
/* Medium Screen ----------- */
@media (min-width: 568px) {
  .imac-inner {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
  }
}
/* Large Screen ----------- */
@media (min-width: 992px) {
  .imac-inner {
    position: absolute;
    top: 48px;
    left: 54px;
    right: 54px;
  }
}
/* Larger Screen ----------- */
@media (min-width: 1200px) {
  .imac-inner {
    position: absolute;
    top: 52px;
    left: 58px;
    right: 58px;
  }
}
