@import 'css3';
@import 'classes';

html, body {
  height: 100%;
  text-align: center;
}

body {
  overflow-x:hidden;
}

section {
  padding: 80px 0px 80px 0px;
}

a {
  cursor: pointer;
}

a:hover,
a:active,
a:focus{
  outline: 0;
  color:#FFFFFF;
  text-decoration:none;
}

nav.navbar {
  display: none;
  background-color:#26292E;
  color:#FFFFFF;
  height:78px;
  padding-top:3px;
  border-bottom:8px inset #333;
  border-bottom:8px solid rgba(0,0,0,0.1);
  
  .navbar-header{
    
    .navbar-logo {
        padding: 7px;
        width: 70px;
    }
    
    .navbar-brand {
      color:#FFFFFF;
      font-size: 24px;
      padding: 23px 0 0 30px;
    }
    
    .navbar-toggle {
      position: absolute;
      width: 48px;
      top: 4px;
      right: 4px;
      bottom: 4px;
      font-size: 18px;
    }
  }
  
  .navbar-collapse {
    background-color:#26292E;
    box-shadow:none;
    border-color: transparent;
    .navbar-nav {
      li {
        a {
          background-color:#26292E !important;
          margin-top:6px;
          font-size:18px;
        }
        a:hover {
          color:#FFFFFF
        }
      }
      li.active {
        a {
          color:#DE5E60;
        }
      }
    }
  }
}

#scrolltop {
  display: none;
  background-color: #3C3F45;
  margin: 0;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  z-index: 99;
  @include border-radius(50%);
  -webkit-transition: background 0.1s linear 0s;  
     -moz-transition: background 0.1s linear 0s;
     -o-transition: background 0.1s linear 0s;
        transition: background 0.1s linear 0s;
        
        i {
          font-size: 16px;
          color: #FFFFFF;
          @include absolute-center(); 
          top: 50%;
          margin-top: -7px;
          line-height: 1em;
        }
   bottom: 15px;
    right: 25px;
  border:1px solid rgba(0,0,0,0.2);     
}

#scrolltop:hover{
  opacity: 1;
  background-color:#DE5E60;
}

.jumbotron {
  img {
    max-height: 450px;
    margin-bottom: 15px;
  }
} 

.carousel {
  .carousel-control.left {
    left: 10px;
  }
  .carousel-control.right {
    right: 10px;
  }
  
  .carousel-control {
    display: none;
    background: none;
    background-color: rgba(237,90,100,0.4);
    top: 45%;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    border-radius: 50px;
  }
}

.quotes {
    margin-top:35px;
    background-color:#3D3D3D;
    border-radius:25px;
    padding:7px 0;
    color:#FFFFFF;
    height:180px;
    
    i {
      font-size:58px;
      color:#FFFFFF;
      padding-left:15px;
      padding-right:15px;
    }
}

#gallery-nav {
  #filters {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 30px;
      a {
        color: #7F8289;
        font-size: 13px;
        text-transform: uppercase;  
        display: block; 
      }
      
      a:hover {
        color: #DE5E60;
      }
    }
    li.categories {
      font-size: 24px;
      font-weight: 300;
      line-height: 1em;
      text-transform: uppercase;
    }
  }
}

.isotope {
  .filter-item {
    overflow: hidden;
    margin-top: 30px;
    @include transition-duration(0.8s);
    
    .overlay-wrapper {
      cursor: pointer;
      position: absolute;
      left: 15px;
      right: 15px;
      height: 100%;
      opacity: 0;
      filter: alpha(opacity=0);
      @include transition(opacity 500ms ease-out 0s);
      .overlay {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #DE5E60;
        opacity: 0.45;
        filter: alpha(opacity=45);
      }
      i {
          @include absolute-hori-center(); 
          top: 45%;
          font-size: 3em;
          opacity: 1;
          filter: alpha(opacity=100);
        }
    }
    .overlay-wrapper:hover {
      opacity: 1;
      filter: alpha(opacity=100);
    }
    img {
      width: 100%;
    }
  }
}

#footer {
  ul.social-inline {
      display:inline;
      list-style:none;
      padding-left:0;
      
      li {
        margin:0 0 8px;
        display:inline-block;
        a {
          color: #3D3D3D;
          width:80px;
          height:50px;
          font-size:30px;
          display:inline-block; 
          @include transition ( all .2s ease-in-out );
        }
        
        a:hover { 
          @include transform( scale(1.5));
        }
      }
  }
}

#page5 {
  background: url('../images/wp2.jpg') fixed no-repeat;
  //ackground-size: cover;
}

.jumbotron {
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 0;
}

.navbar {
  opacity: 0.9;
}

@import 'superslider';
@import 'devices';
@import 'colors';
@import 'fonts'; 
@import 'imac';

