/* Smartphones ----------- */
@media (max-width: 768px) {
  h1 {
    font-size: 24px !important;
  }

  p, label {
    font-size: 16px !important;
  }
}
/* Tablets ----------- */
@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 32px !important;
  }

  p, label {
    font-size: 20px !important;
  }
}
/* Desktop ----------- */
@media (min-width: 1024px) {
  h1 {
    font-size: 48px !important;
  }

  p, label {
    font-size: 24px !important;
  }
}
/* Large Screen ----------- */
@media (min-width: 1824px) {
  h1 {
    font-size: 64px !important;
  }

  p, label {
    font-size: 28px !important;
  }
}
