/* Smartphones 320px width*/
@media (max-width: 320px) {
  #ipad-inner {
    position: none;
    top: 15%;
    left: 15%;
    right: 15%;
  }
}
/* Smartphones 320px - 480px width*/
@media (min-width: 320px) and (max-width: 480px) {
  #ipad-inner {
    position: none;
    top: 15%;
    left: 15%;
    right: 15%;
  }
}
/* Smartphones 320px - 480px width*/
@media (min-width: 480px) and (max-width: 548px) {
  #ipad-inner {
    position: none;
    top: 15%;
    left: 15%;
    right: 15%;
  }
}
/* Smartphones 548px - 480px width*/
@media (min-width: 548px) and (max-width: 768px) {
  #ipad-inner {
    position: none;
    top: 15%;
    left: 15%;
    right: 15%;
  }
}
/* Tablet 768px - 1024px width*/
@media (min-width: 768px) and (max-width: 1024px) {
  #ipad-inner {
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
  }
}
/* Desktop ----------- */
@media (min-width: 1024px) {
  #ipad-inner {
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
  }
}
/* Large Desktop ----------- */
@media (min-width: 1824px) {
  #ipad-inner {
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
  }
}
