/* Smaller Smartphones ----------- */
@media (max-width: 368px) {
  h1 {
    font-size: 32px !important;
    color: #FFFFFF;
  }

  p, label {
    font-size: 11.2px !important;
  }

  #probowl-img {
    height: 30px;
    padding-bottom: 10px;
    visibility: hidden;
  }

  .example-image-link img {
    width: 50px;
  }

  .androidBadge {
    height: 40px;
    width: 100px;
  }

  .iosBadge {
    height: 40px;
    width: 110px;
  }

  .bg-content {
    margin-top: 40px;
  }
}
/* Smartphones ----------- */
@media (min-width: 368px) and (max-width: 768px) {
  h1 {
    font-size: 48px !important;
    color: #993399;
  }

  p, label {
    font-size: 16px !important;
  }

  #probowl-img {
    height: 30px;
    padding-bottom: 10px;
    visibility: hidden;
  }

  .example-image-link img {
    width: 50px;
  }

  .androidBadge {
    height: 40px;
    width: 100px;
  }

  .iosBadge {
    height: 40px;
    width: 110px;
  }
}
/* Tablets ----------- */
@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 64px !important;
    color: #CC3300;
  }

  p, label {
    font-size: 20px !important;
  }

  #probowl-img {
    height: 300px;
    width: 100%;
    padding-bottom: 30px;
  }

  .example-image-link img {
    width: 90px;
  }
}
/* Desktop ----------- */
@media (min-width: 1024px) {
  h1 {
    font-size: 96px !important;
    color: #336600;
  }

  p, label {
    font-size: 24px !important;
  }

  #probowl-img {
    height: 500px;
    width: 100%;
    padding-bottom: 30px;
  }

  .example-image-link img {
    width: 90px;
  }
}
/* Large Screen ----------- */
@media (min-width: 1824px) {
  h1 {
    font-size: 128px !important;
    color: #000099;
  }

  p, label {
    font-size: 28px !important;
  }

  .example-image-link img {
    width: 150px;
  }
}
