@import 'devices';

@font-face {
  font-family: 'husky'; /*a name to be used later*/
  src: url('../fonts/huskystash.ttf'); /*URL to font*/
}

@mixin gradient-fonts($lgrad, $ugrad){
  background: -webkit-linear-gradient($lgrad, $ugrad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
    h1 {
    text-align: center;
    font-family: 'husky';
    }
}

.navbar-brand {
  @include gradient-fonts(#EEEEEE, #333333);
  font-size: 40px;
  font-family: 'husky' !important;
  padding-top: 10px;
}


.section {
  h1 {
    font-size: 24em !important;
  }
}
