@import 'devices';

@font-face {
  font-family: 'husky'; /*a name to be used later*/
  src: url('../fonts/huskystash.ttf'); /*URL to font*/

}

@font-face {
  font-family: 'copal';
  src: url('../fonts/CopalStd.otf');
}

@font-face {
  font-family: 'caviar';
  src: url('../fonts/CaviarDreams_Bold.ttf');
}

@mixin gradient-fonts($lgrad, $ugrad){
  background: -webkit-linear-gradient($lgrad, $ugrad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
    h1 {
    text-align: center;
    font-family: 'husky';
    }
}

#fullpage {
    .section {
        h1 {
          /*font-size: 24em !important; */
        }
      
        .bg-content {
          background-color: rgba(255, 255, 255, 0.5);
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          border-radius: 7px;
          padding: 20px;
          width: 100%;
          color: #333;
        }
    }
      
    #section0 {
      
    }
    #section1 {
      .container-fluid {
        width: 90%;
        
        h1 {
          font-family: 'copal';
        }
      .bg-content {
         padding-top: 10px;
         padding-bottom: 20px;
       }
      }
    }
    #section2 {
      .container {
        width: 100%;
      }
    }
    #section3 {

    }
    #section4 {
      
    }
    #section5 {
      
    }
}

.navbar-brand {
  @include gradient-fonts(#EEEEEE, #333333);
  font-size: 40px;
  font-family: 'husky' !important;
  padding-top: 10px;
}

.nav {
  a {
    font-family: 'caviar' !important;
  }
}

