@import 'classes';
@import 'css3';

#home-slider {
  position: relative;
  overflow: hidden;
  height: 100%;
}

#home-slider .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #26292E;
  opacity: 0.2;
  filter: alpha(opacity=70);
  z-index: 0;
}
      
#home-slider .container {
  height: 100%;
}


#home-slider .container .row.caption-row{
  @include absolute-hori-center(); 
  bottom: 150px;    
}

#home-slider #slidecaption {
  float: none;
  text-shadow: none;
  font-family: 'Open Sans', sans-serif;
  
  font-weight: 300;
  color: #FFFFFF;
  letter-spacing: -2px;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0;
}

#home-slider .control-nav {
  position: absolute;
  width: 100%;
  background: #2F3238;
  height: 50px;
  bottom: 0;
  z-index: 2;
}

#home-slider #nextslide,
#home-slider #prevslide {
  background-image: none;
  background-color: #26292E;
  display: inline-block;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  float: left;
  opacity: 1;
  filter: alpha(opacity=100);

  -webkit-transition: background 0.1s linear 0s;  
     -moz-transition: background 0.1s linear 0s;
     -o-transition: background 0.1s linear 0s;
        transition: background 0.1s linear 0s;
        
}

#home-slider #nextslide {
  margin-left: -4px;  
}

#home-slider #nextslide:hover,
#home-slider #prevslide:hover,
#home-slider #nextsection:hover {
  background-color:#DE5E60;
}

#home-slider #nextslide i,
#home-slider #prevslide i,
#home-slider #nextsection i {
  @include absolute-hori-center(); 
  font-size: 16px;
  color: #FFFFFF;
  top: 50%;
  margin-top: -7px;
}

#home-slider #nextsection {
  background-color: #26292E;
  margin: 0;
  position: relative;
  float:right;
  width: 50px;
  height: 50px;
  -webkit-transition: background 0.1s linear 0s;  
     -moz-transition: background 0.1s linear 0s;
     -o-transition: background 0.1s linear 0s;
        transition: background 0.1s linear 0s;
}

#home-slider ul#slide-list {
  top: 50%;
  padding: 0;
  margin:-6px 0 0 0;  
}

#home-slider ul#slide-list li {
  margin-right: 12px;
}

#home-slider ul#slide-list li:last-child {
  margin-right: 0;  
}

#home-slider ul#slide-list li a {
  background-color: #6E7074;
  background-image: none;
  width: 12px;
  height: 12px;
  
  @include border-radius(50%);
  
  -webkit-transition: background 0.1s linear 0s;  
     -moz-transition: background 0.1s linear 0s;
     -o-transition: background 0.1s linear 0s;
        transition: background 0.1s linear 0s;
}

#home-slider ul#slide-list li a:hover {
  background-color: #FFFFFF;  
}

#home-slider ul#slide-list li.current-slide a,
#home-slider ul#slide-list li.current-slide a:hover {
  background-color:#DE5E60;
}

/* Smaller Screen ----------- */
@media (min-width: 320px) {
  #home-slider #slidecaption {
    font-size: 20px;
  }
}

/* Small Screen ----------- */
@media (min-width: 468px) {
  #home-slider #slidecaption {
    font-size: 30px;
  }
}

/* Medium Screen ----------- */
@media (min-width: 568px) {
  #home-slider #slidecaption {
    font-size: 40px;
  }
}

/* Large Screen ----------- */
@media (min-width: 992px) {
  #home-slider #slidecaption {
    font-size: 50px;
  }
}

/* Larger Screen ----------- */
@media (min-width: 1200px) {
  #home-slider #slidecaption {
    font-size: 60px;
  }
}